/*
File description

Created by Jürgen K.
https://github.com/juergenweb 
File name: frontendforms.css
Created: 15.07.2022 
 */

pre {
    white-space: pre-wrap;
}

/**
From https://javascriptarticles.com/pure-css-tooltip/
 */
[tooltip] {
    position: relative;
    cursor: pointer;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    font-size: 0.9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    border: 5px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    min-width: 10em;
    max-width: 23em;
    overflow-wrap: break-word;
    padding: 1.3ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(14, 19, 29, 0.35);
    background: rgb(45, 171, 255);
    color: #fff;
    z-index: 1000;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: rgb(45, 171, 255);
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: rgb(45, 171, 255);
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: rgb(45, 171, 255);
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: rgb(45, 171, 255);
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

/* split password list into multiple columns */
#pw-container {
    padding-top: 20px;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

@media screen and (max-width: 992px) {
    #pw-container {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
}

@media screen and (max-width: 700px) {
    #pw-container {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

@media screen and (max-width: 500px) {
    #pw-container {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}


#password-list {
    margin: 0;
}

#backlink {
    margin-top: 20px;
}

.statistic-label {
    padding-right: 10px;
}

.question-number {
    text-align:right;
}

#questions-statistic, #failedattempts-statistic {
    margin: 10px 0 30px 0;
    border: 2px solid #f0f3f7;
    width: 100%;
    border-collapse: collapse;
}

#questions-statistic tr td, #failedattempts-statistic tr td {
    padding: 5px 10px;
    border-bottom: 2px dotted #f0f3f7;
}

#questions-total {
    background: #f0f3f7;
    font-weight: bold;
}

#visiblity-legend, ul.legend {
    list-style-type: none;
}

ul.legend {
    font-size: 14px;
    color: #6c8dae;
}
ul.legend i {
    width: 20px;
}

.ff-hiddenvalue {
    position: absolute;
    left: -999em;
}

.table-legend::before {
    content: "* ";
    position: absolute;
    padding-left: 10px;
    font-size: 20px;
}

.table-legend {
    background: #f0f3f7;
}

.table-legend ul li {
    padding: 3px;
}

.pagination {
    text-align:center;
    margin-bottom: 5px;
}

.pagination > ul {
    width: auto;
}

#to-all-blocked-ips {
    margin-top: 10px;
